<!DOCTYPE html>
<html>
<head>
    
    <title>Error</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='voting-box.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" >

    <style>
        h1 {text-align: center;}
        a {text-align: center;}
    </style>
</head>
<body>
    <header>
    <h1>AAB VOTING SOLUTIONS</h1>
  </header>
   <h1>Something went wrong try again</h1>
   <p><a href="/">Click here to Login again</a> </p>
     <footer>
  <p>Designed and developed by : Abrar Baig</p>
</footer>
</body>
</html>