<!DOCTYPE html>
<html>
<head>
   
    <title>Voter Home page</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" >
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='voting-box.png') }}">

</head>
<body>
     <header>
    <h1>AAB VOTING SOLUTIONS</h1>
  </header>
    <h2>Welcome {{res["f_name"]}} (Voter)</h2>

    <div class="cont">
    <div class="dv">
        <h3>Your profile information</h3>
        
    <table>
       <thead>
        <tr>
            <th>Your Voter ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>City</th>
            <th>Mobile Number</th>
            <th>Email</th>
            
        </tr>
       </thead>
       <tbody>
        {% for r in res %}
        <tr>
          <td>{{ r.v_id }}</td>
          <td>{{ r.f_name }} {{ r.l_name}}</td>
          <td>{{ r.dob }}</td>
          <td>{{r.age}}</td>
          <td>{{ r.city }}</td>
          <td>{{ r.mob }}</td>
          <td>{{ r.email }}</td>
        </tr>
       
       </tbody>
    </table>
    </div>

    <!------------------------------------------------------------------------------->

    <div class="dv">
        <h3>Voting</h3>
       <p><a href="/get_poll_candid"><button>Click here to vote</button></p></a>
    </div>
 </div>
  {% endfor %}
    <!------------------------------------------------------------------------------->
   
    <div class="dv3">
      <h3>News and bulletins</h3>
      <p class="news">{{read}}</p>
    </div>
    <footer>
  <p>Designed and developed by : Abrar Baig</p>
</footer>
</body>
</html>